<a href="https://colab.research.google.com/github/MaxVieiraSantiago/Machine-Learning-Algorithms/blob/master/Random%20Forest/RandomForest_Classifier_01.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
from google.colab import drive
drive.mount( '/content/drive' )

In [12]:
import pandas as pd
import numpy as np

from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestRegressor
from sklearn.metrics import mean_squared_error

In [6]:
url = './sample_data/california_housing_train.csv'
dados = pd.read_csv( url )

dados.head()

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value
0,-114.31,34.19,15.0,5612.0,1283.0,1015.0,472.0,1.4936,66900.0
1,-114.47,34.40,19.0,7650.0,1901.0,1129.0,463.0,1.8200,80100.0
2,-114.56,33.69,17.0,720.0,174.0,333.0,117.0,1.6509,85700.0
3,-114.57,33.64,14.0,1501.0,337.0,515.0,226.0,3.1917,73400.0
4,-114.57,33.57,20.0,1454.0,326.0,624.0,262.0,1.9250,65500.0

In [7]:
X = dados.drop( 'median_house_value', axis=1 )
y = dados.median_house_value

In [31]:
X_train, X_teste, y_train, y_teste = train_test_split( X, y, test_size=0.5, random_state=0 )

modelo = RandomForestRegressor( n_estimators=850, min_samples_leaf=1, random_state=0, n_jobs=-1 )

In [32]:
modelo.fit( X_train, y_train )

y_pred = modelo.predict( X_teste )

np.sqrt( mean_squared_error( y_teste, y_pred ) )

50482.136918156706

In [28]:
# Encontrar os melhores hiperparâmetros

# n_estimators
n_estimator = 600
menor_erro  = 99999999
melhor_n    = n_estimator

while n_estimator < 1000:
  modelo = RandomForestRegressor( n_estimators=n_estimator, min_samples_leaf=1, random_state=0, n_jobs=-1 )
  modelo.fit( X_train, y_train )
  y_pred = modelo.predict( X_teste )
  erro_quadrado_medio = np.sqrt( mean_squared_error( y_teste, y_pred ) )

  if ( erro_quadrado_medio < menor_erro ):
    menor_erro = erro_quadrado_medio
    melhor_n   = n_estimator

  n_estimator+=50

print('Melhor parâmetro de n_estimators = {} para um mean_squared_error = {}'.format( melhor_n, menor_erro ) );

Melhor parâmetro de n_estimators = 850 para um mean_squared_error = 50471.711011870335